.square {
  
  width: 50px !important;
  height: 50px !important;
  background-color: white; 
  color: black; 
  /*border: 1px solid black; */
  
}
.newGameButton {
  
  width: 100px !important;
  height: 50px !important;
  background-color: #61dafb; 
  color: black; 
  position: relative;
  left:30%;
}
.newGameDiv {

  height: 1vw;
}

button:active{
	
	background:none;
	outline:none;
	padding:0;
}
.game-board{
		
}
.board >div{
  
  
  text-align: center;
  display: flex;

}

.newGameDiv{
	padding: 70px 0;
	flex-basis: 40%;

}
.buttons
{
	
	align-items: center;
	align-content: center;
	flex-basis: 60%;
	

}
.buttons>table
{
	width: 20vw;
	align-content: center;
	align-items: center;
	

}

.score-container{

}
table.score-table{
	
	margin-left:auto; 
    margin-right:auto;
	
    
}

td{
	width: 15% ;
	
}
.game-info{
	width: 100vw;
	text-align: center;
}

